body {
  background: rgb(170, 205, 236);
}

.toDos {
  width: auto;
  max-width: 450px;
  border-radius: 10px / 10px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: rgb(240, 242, 245);
  box-shadow: 5px 5px 20px gray;
}

.header {
  background: rgb(171, 226, 171);
  color: rgb(29, 42, 29);
}

.toDos h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  margin-top: 0;
}
